@font-face {
  font-family: myFirstFont;
  src: url(fonts/fun.otf);

  font-family: headingfont;
  src: url(fonts/Paradise.otf);


}


body {

margin: 30px;


}


   h2{
             color: pink;
             font-family: Arial;
             font-variant:small-caps;
             text-align: center;
             line-height: 100%;

         }

#one{
             color: #80e01c;
             font-variant: small-caps;
             font-size: 25px ;
             border:groove 1px #b32dd7;
         }


 #two{			
 			font-family: myFirstFont;
 			
 			font-size:50px;


 			color: rgba(24, 144, 242, 0.71);

		 }

 summary{		

 				font-style:italic;


 		}



 		#three {

 				font-style: italic;
 				font-weight: bold;
 				font-size: 20px;

 		}

details summary { 
  cursor: pointer;
}

details summary > * {
  display: inline;
}




		




	
.mainnav a:hover {
 								 background-color: #ddd;
  								color: #b32dd7;
   				 
   				}

.mainnav a.active {


						
 							 color: #b32dd7;
}



.mainnav {






	text-align: center;
	font-family: headingfont;
	font-size: 3vw;

		
}


.extranav {

			
			margin: 10px;
			text-align: center;


			






}

.homenav {

				
				display: block;		
				padding-bottom: 1vw;

				height: 30px;



}

.firstnav{

	border:groove 1px #b32dd7;
	padding: 5px 10px;
	margin: 1vw;



	}


.secondnav{

	border:groove 1px #b32dd7;
	padding: 5px 10px;
	margin: 1vw;
}



.thirdnav{

	border:groove 1px #b32dd7;
	padding: 5px 10px;
	margin: 1vw;
}

.topimg {

			text-align: center;
			padding-top: 3vw;
			padding-bottom: 2vw;
			height: 40vw;


}

.tophamster {

 display: inline-block;
 width: 40%;
 padding: 1vw;
 height: 39vw;



 



}


