@font-face {
  font-family: myFirstFont;
  src: url(fonts/fun.otf);

  font-family: headingfont;
  src: url(fonts/Paradise.otf);


}


body {

margin: 30px;


}


   h2{ /* top heading */
             color: rgb(244, 130, 150);
             font-family: Arial;
             font-variant:small-caps;
             text-align: center;
             line-height: 100%;
             float: left;
             margin-left: 2vw;
             font-size: 3vw;
             width: 25%;

             

         }
#one{ /* HAMSTER/  hamster background*/
             
             font-variant: small-caps;
             font-weight: 1000;
             font-size: 12vw ;
             border:none;
             background-image: url("image/IMG_0314.jpg");
             margin-top: 0px;
              height: 20vw;
              width: 67%;
              float: right;
             background-position: right center;
              text-align: right;
               color: transparent;
						  background-clip: text;
 						 -webkit-background-clip: text;
 						 margin-right: 2vw;

          
              overflow: hidden;
              margin-bottom: -7vw;

              
              
         }


 #two{		/* ppl i might cheat on you for */
 			font-family: myFirstFont;
 			
 			font-size:50px;


 			color: rgba(24, 144, 242, 0.71);

		 }

 summary{		

 				font-style:italic;


 		}



 		#three { /* no one */

 				font-style: italic;
 				font-weight: bold;
 				font-size: 20px;

 		}

details summary { 
  cursor: pointer;
}

details summary > * {
  display: inline;
}




		



.mainnav a:link {


									color: rgb(244, 130, 150);


}

.mainnav a:visited {

									color: rgb(244, 130, 150);

}
	
.mainnav a:hover {
 								 background-color: #ddd;
  								color: #b32dd7;
  								text-decoration: underline;
   				 
   				}

.mainnav a:focus {
 								 background-color: #ddd;
  								color: #b32dd7;
   				 
   				}

.mainnav a:active {


						
 							 color: #b32dd7;
 							 
}



.mainnav {






	text-align: center;
	font-family: headingfont;
	font-size: 2.5vw;


		
}


.extranav {

			
			margin: 10px;
			text-align: center;



			






}

.homenav1 {

				width: 6vw;
				display: block;		
				padding-bottom: 1vw;
				font-size: 3vw;
				text-decoration:none;
				height: 2.5vw;
				margin: 0 auto;
				border-radius: 10px;




}

nav a{

	border:groove 1px #b32dd7;
	padding: 5px 10px;
	margin: 1vw;
	text-decoration:none;
	border-radius: 10px;
	display: inline-block;


}


.topimg {

			text-align: center;
			padding-top: 3vw;
			padding-bottom: 2vw;
			height: 40vw;
			clear:right;
			margin-bottom: 7vw;
			



}



#hoveroverme {		



clear: both;
text-align: center;

}


.tophamster {

 display: inline-block;
 width: 40%;
 padding: 1vw;
 height: 39vw;
 border-radius: 10%;
 vertical-align: middle;
 overflow: hidden;
 margin: 1vw;
 transition-property: height,width,border-radius,transform,zoom;
			transition-duration: 1s;
			transition-timing-function: ease-in-out;
			transition-delay: .3s;






}
.tophamster:active {

transform: scale(1.2);
transform: rotate(360deg);
border-radius: 50%;
height: 45vw;
width: 45%;




}



.tophamster:hover {


height: 45vw;
width: 45%;

}

ol {		



		list-style-image: url('image/amongus.png');






}

#mainpagehamlet {



margin: 0 auto;

}
.tophamsterhamlet {

 
 
 height: 30vw;
 width: 30vw;






}

.card-container {
  width: 30vw;
 
 height: 30vw;
 
  perspective: 600;
  position: relative;
  float: right;
  margin-right: 20%;
  margin-top: 5vw;
  
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
  font-size: 2vw;
  text-align: center;
  line-height: 30vw;
  background-color: rgb(134, 220, 246);
  
}
.card .back {
  transform: rotateY(180deg);
}


ol {		



		list-style-image: url('image/amongus.png');

	}

	#poem {		
			font-size: 2vw;


	}

button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}


